<!--Footer-->
<footer class="py-2 my-16 show-on-scroll initially-hidden">
  <div class="container">
    <div class="header flex justify-between items-baseline mb-8 pb-2 border-b">
      <div class="h-8 w-auto">
      	{% include "components/logo-svg-dark.njk" %}
      </div>
      <span class="text-xs text-gray-400">Return to top </span>
    </div>
    <div class="content">
      <table class="table-auto my-8">
      <tbody>
        <tr>
          <td class="border-r py-2 pr-12">About</td>
          <td class="border-none px-12 py-2"><a href="" class="hover:transition hover:duration-500 hover:ease-in-out">Team</a></td>
          <td class="border-none px-12 py-2"><a href="/careers" class="hover:transition hover:duration-500 hover:ease-in-out">Careers</a></td>
          <td class="border-none px-12 py-2"><a href="/about" class="hover:transition hover:duration-500 hover:ease-in-out">Principles</a></td>
        </tr>
        <tr>
          <td class="border-r py-2 pr-12">Resources</td>
          <td class="border-none px-12 py-2"><a href="/blog">Blog</a></td>
          <td class="border-none px-12 py-2"><a href="/blog">On the Metal</a></td>
          {# <td class="border-none px-12 py-2"><a href="">Stay in touch</a></td> #}
        </tr>
        <tr>
          <td class="border-r py-2 pr-12">Connect</td>
          <td class="border-none px-12 py-2"><a href="https://twitter.com/oxidecomputer" target="_blank" rel="noopener">Twitter</a></td>
          <td class="border-none px-12 py-2"><a href="https://github.com/oxidecomputer" target="_blank" rel="noopener">GitHub</a></td>
          <td class="border-none px-12 py-2"><a href="https://www.linkedin.com/company/oxidecomputer" target="_blank" rel="noopener">LinkedIn</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="footer pt-2 border-t"></div>
    <div class="copyright text-oxide-green text-sm">
      <p>&copy; Oxide Computer Company</p>
    </div>
  </div>
</footer>
