<div class="content relative max-w-screen-xl mx-auto px-6 sm:px-6 fade-in">
  <div class="footer show-on-scroll">
    {% include "components/newsletter.njk" %}
    <div class="my-16 py-6 lg:py-4">
      <div class="header flex justify-between items-baseline mb-8 pb-2 border-b">
        <div class="h-8 w-auto">
          <a href="/">{% include "components/logo-svg-dark.njk" %}</a>
        </div>
        <button class="elevator-button text-xs text-gray-400" aria-label="Return to top">Return to top </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="mb-2">
          <h4 class="text-lg leading-5 font-semibold tracking-wider text-gray-200">Oxide Computer Company</h4>
          <span class="mt-4 block text-base leading-6 text-gray-300">1251 Park Avenue</span>
          <span class="block text-base leading-6 text-gray-300">Emeryville, CA 94608</span>
        </div>
        <div>
          <h4 class="text-lg leading-5 font-semibold tracking-wider text-gray-200">
            Resources
          </h4>
          <ul>
            <li>
              <a href="/about/" class="link">
                <span>Principles</span>
              </a>
            </li>
            <li>
              <a href="/team/" class="link">
                <span>Team</span>
              </a>
            </li>
            <li>
              <a href="/blog/" class="link">
                <span>Blog</span>
              </a>
            </li>
            <li>
              <a href="/podcast/" class="link">
                <span>Podcast</span>
              </a>
            </li>
            <li>
              <a href="/careers/" class="link">
                <span>Jobs</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="md:pl-0 lg:pl-12 md:border-0 lg:border-l max-w-sm">
          <h4 class="text-lg leading-5 font-semibold tracking-wider text-gray-200">
            Contact us
          </h4>
          <p class="mt-4 text-base leading-6 text-gray-300">
            If you would like to share your ideas or feedback, please email us. We'll reply as soon as possible.
          </p>
          <p class="mt-4 text-base leading-6 text-gray-300"><a href="mailto:info@oxide.computer">info@oxide.computer</a></p>
          <p class="mt-0 text-base leading-6 text-gray-300"><a href="tel:5109221392">(510) 922-1392</a></p>
        </div>
      </div>
      <div class="mt-8 border-t pt-8 md:flex md:items-baseline md:justify-between">
        <div class="flex md:order-2">
          <a href="https://twitter.com/{{ site.twitter_handle }}" target="_blank" rel="noopener" class="social">
            <span class="sr-only">Twitter</span>
            {% include "components/icon-twitter.njk" %}
          </a>
          <a href="https://github.com/{{ site.github_handle }}" target="_blank" rel="noopener" class="social ml-6">
            <span class="sr-only">GitHub</span>
            {% include "components/icon-github.njk" %}
          </a>
          <a href="{{ site.linkedin_url }}" target="_blank" rel="noopener" class="social ml-6">
            <span class="sr-only">LinkedIn</span>
            {% include "components/icon-linkedin.njk" %}
          </a>
        </div>
        <p class="mt-8 text-sm leading-6 text-oxide-green md:mt-0 md:order-1">
          &copy; 2020 Oxide Computer Company. <span class="block md:inline">All rights reserved.</span>
        </p>
      </div>
    </div>
  </div>
</div>
