    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%}{{ site.site_title }}: {{ title }}{%- else -%}{{ site.site_title }}{%- endif -%}</title>

    <!--Schema-->
    <link rel="author" href="{{ site.site_url }}">
    <link rel="publisher" href="{{ site.site_url }}">
    <link rel="canonical" href="{{ site.site_url }}{{ page.url }}">
    <meta itemprop="name" content="{%- if title -%}{{ site.site_title }}: {{ title }}{%- else -%}{{ site.site_title }}{%- endif -%}">
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}{{site.site_tagline}}{%- endif -%}">
    <meta itemprop="description" content="{%- if description -%}{{ description }}{%- else -%}{{site.site_tagline}}{%- endif -%}">
    <meta itemprop="image" content="{{site.site_meta_image}}">

    <link href="https://oxide.computer/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ site.site_title }}: {{site.site_tagline}}">
    <link href="https://oxide.computer/blog/index.xml" rel="feed" type="application/rss+xml" title="{{ site.site_title }}: {{site.site_tagline}}">

    <link rel="apple-touch-icon" media="(prefers-color-scheme:light)" sizes="180x180" href="https://oxide.computer/images/favicon/light/apple-touch-icon.png">
    <link rel="icon" type="image/png" media="(prefers-color-scheme:light)" sizes="32x32" href="https://oxide.computer/images/favicon/light/favicon-32x32.png">
    <link rel="icon" type="image/png" media="(prefers-color-scheme:light)" sizes="16x16" href="https://oxide.computer/images/favicon/light/favicon-16x16.png">
    <link media="(prefers-color-scheme:light)" rel="manifest" href="https://oxide.computer/images/favicon/light/manifest.json">
    <meta media="(prefers-color-scheme:light)" name="msapplication-config" content="https://oxide.computer/images/favicon/light/browserconfig.xml" />
    <meta media="(prefers-color-scheme:light)" name="msapplication-TileColor" content="#ffffff">
    <meta media="(prefers-color-scheme:light)" name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" media="(prefers-color-scheme:dark)" sizes="180x180" href="https://oxide.computer/images/favicon/dark/apple-touch-icon.png">
    <link rel="icon" type="image/png"  media="(prefers-color-scheme:dark)" sizes="32x32" href="https://oxide.computer/images/favicon/dark/favicon-32x32.png">
    <link rel="icon" type="image/png"  media="(prefers-color-scheme:dark)" sizes="16x16" href="https://oxide.computer/images/favicon/dark/favicon-16x16.png">
    <link media="(prefers-color-scheme:dark)" rel="manifest" href="https://oxide.computer/images/favicon/dark/manifest.json">
    <meta media="(prefers-color-scheme:dark)" name="msapplication-config" content="https://oxide.computer/images/favicon/dark/browserconfig.xml" />
    <meta media="(prefers-color-scheme:dark)" name="msapplication-TileColor" content="#222">
    <meta media="(prefers-color-scheme:dark)" name="theme-color" content="#222">

    <!--Twitter Card-->
    {%- if podcast_file -%}
        <meta name="twitter:card" content="player">
        <meta name="twitter:player" content="{{ iframe_link }}">
        <meta name="twitter:player:width" content="500">
        <meta name="twitter:player:height" content="180">
        <meta name="twitter:player:stream" content="{{ podcast_file }}">
        <meta name="twitter:player:stream:content_type" content="audio/mpeg">
    {%- else -%}
        <meta name="twitter:card" content="summary_large_image">
    {%- endif -%}
    <meta name="twitter:title" content="{%- if title -%}{{ site.site_title }}: {{ title }}{%- else -%}{{ site.site_title }}{%- endif -%}">
    <meta name="twitter:site" content="@{{ site.twitter_handle }}">
    <meta name="twitter:description" content="{%- if description -%}{{ description }}{%- else -%}{{site.site_tagline}}{%- endif -%}">
    <meta name="twitter:image" content="{{site.site_meta_image}}">
    <meta name="twitter:image:alt" content="{{content | striptags | truncate(196) }}">
    <meta property="twitter:creator:id" content="{{ site.twitter_id }}" />
    <meta name="twitter:creator" content="@{{ site.twitter_handle }}">
    <meta name="twitter:domain" content="{{ site.site_url }}">
    <meta name="twitter:url" content="{{ site.site_url }}{{ page.url }}">

    <meta property="og:site_name" content="{{ site.site_title }}">
    <meta property="og:url" content="{{ site.site_url }}" />
    <meta property="og:title" content="{%- if title -%}{{ site.site_title }}: {{ title }}{%- else -%}{{ site.site_title }}{%- endif -%}" />
    <meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}{{site.site_tagline}}{%- endif -%}" />
    <meta property="og:image" content="{{site.site_meta_image}}">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1120">
    <meta property="og:image:height" content="600">
    <meta property="og:image:secure_url" content="{{site.site_meta_image}}">
