
  {% for link in linkList %}
    <a class="mb-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" href="{{ link.url }}">
      <span>{{ link.text }}</span>
    </a>
  {% endfor %}
