<!doctype html>
<html lang="en" class="font-sans">
<!--

     OOOOOOOOO       XXXXXXX          XXXXXXX   IIIIIIII  DDDDDDDDDDDDD         EEEEEEEEEEEEEEEEEEEEEE
   OO:::::::::OO     X:::::X          X:::::X   I::::::I  D::::::::::::DDD      E::::::::::::::::::::E
 OO:::::::::::::OO    X:::::X        X:::::X    I::::::I  D:::::::::::::::DD    E::::::::::::::::::::E
O:::::::OOO:::::::O    X:::::X      X:::::X     II::::II  DDD:::::DDDDD:::::D   EE::::::EEEEEEEEE::::E
O::::::O   O::::::O     XX::::X    X::::XX       I::::I   D:::::D     D:::::D   E:::::E
O:::::O     O:::::O      X:::::X  X:::::X        I::::I   D:::::D      D:::::D  E:::::E
O:::::O     O:::::O       X::::::X:::::X         I::::I   D:::::D      D:::::D  E::::::EEEEEEEEEE
O:::::O     O:::::O        X::::::::::X          I::::I   D:::::D      D:::::D  E:::::::::::::::E
O:::::O     O:::::O         X::::::::X           I::::I   D:::::D      D:::::D  E:::::::::::::::E
O:::::O     O:::::O       X::::::X:::::X         I::::I   D:::::D      D:::::D  E::::::EEEEEEEEEE
O:::::O     O:::::O      X:::::X X:::::X         I::::I   D:::::D      D:::::D  E:::::E
O::::::O   O::::::O     XX::::X    X::::XX       I::::I   D:::::D     D:::::D   E:::::E
O:::::::OOO:::::::O    X:::::X      X:::::X     II::::II  DDD:::::DDDDD:::::D   EE::::::EEEEEEEE:::::E
 OO:::::::::::::OO    X:::::X        X:::::X    I::::::I  D:::::::::::::::DD    E::::::::::::::::::::E
   OO:::::::::OO     X:::::X          X:::::X   I::::::I  D::::::::::::DDD      E::::::::::::::::::::E
     OOOOOOOOO       XXXXXXX          XXXXXXX   IIIIIIII  DDDDDDDDDDDDD         EEEEEEEEEEEEEEEEEEEEEE




     000000000                               1111111     DDDDDDDDDDDDD          EEEEEEEEEEEEEEEEEEEEEE
   00:::::::::00                            1::::::1     D::::::::::::DDD       E::::::::::::::::::::E
 00:::::::::::::00                         1:::::::1     D:::::::::::::::DD     E::::::::::::::::::::E
0:::::::000:::::::0                        111:::::1     DDD:::::DDDDD:::::D    EE::::::EEEEEEEEE::::E
0::::::0   0::::::0  xxxxxxx      xxxxxxx     1::::1     D:::::D      D:::::D   E:::::E
0:::::0     0:::::0   x:::::x    x:::::x      1::::1     D:::::D       D:::::D  E:::::E
0:::::0     0:::::0    x:::::x  x:::::x       1::::1     D:::::D       D:::::D  E::::::EEEEEEEEEE
0:::::0 000 0:::::0     x:::::xx:::::x        1::::l     D:::::D       D:::::D  E:::::::::::::::E
0:::::0 000 0:::::0      x::::::::::x         1::::l     D:::::D       D:::::D  E:::::::::::::::E
0:::::0     0:::::0       x::::::::x          1::::l     D:::::D       D:::::D  E::::::EEEEEEEEEE
0:::::0     0:::::0       x::::::::x          1::::l     D:::::D       D:::::D  E:::::E
0::::::0   0::::::0      x::::::::::x         1::::l     D:::::D      D:::::D   E:::::E
0:::::::000:::::::0     x:::::xx:::::x     111::::::111  DDD:::::DDDDD:::::D    EE::::::EEEEEEEE:::::E
 00:::::::::::::00     x:::::x  x:::::x    1::::::::::1  D:::::::::::::::DD     E::::::::::::::::::::E
   00:::::::::00      x:::::x    x:::::x   1::::::::::1  D::::::::::::DDD       E::::::::::::::::::::E
     000000000       xxxxxxx      xxxxxxx  111111111111  DDDDDDDDDDDDD          EEEEEEEEEEEEEEEEEEEEEE

-->

  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    {% include "head-meta.njk" %}
  </head>
  <body id="top" class="{% if pageClass %}{{ pageClass }}{% endif %} container mx-auto mb-12 max-w-none lg:max-w-6xl bg-oxide-gray text-white">
    {% if page.url == "/" %}
      <div class="circuit-svg">
        {% include "components/circuits.njk" %}
      </div>
    {% endif %}
    {% include "header.njk" %}
    <div class="content copy relative max-w-screen-xl mx-auto px-6 sm:px-6 fade-in">
      {% if page.url == "/" %}
        <div class="w-auto">
      {% else %}
        <div class="w-auto lg:w-3/4">
      {% endif %}

        {%- if heading -%}
          <h1 class="heading">{{ heading }}
            {% if page.url == "/blog/" %}
              <span class="rss-follow ml-2">
                <a href="{{ site.blog_rss_feed }}" target="_blank" rel="noopener">
                  <svg aria-hidden="true" data-icon="rss" viewBox="0 0 448 512" class="podcast-icon" xmlns="http://www.w3.org/2000/svg">
                    <title>RSS icon</title>
                    <path fill="currentColor" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"/>
                  </svg>
                </a>
              </span>
            {% endif %}
          </h1>
        {%- endif -%}

        {%- if subheading -%}
          <h2 class="subheading">{{ subheading }}</h2>
        {%- endif -%}

        {{ content | safe }}

      </div>
    </div>

    {% include "footer.njk" %}

    {% set js %}
      {% include "js/alpine.js" %}
      {% include "js/elevator.js" %}
      {% include "js/main.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.google_analytics}}');
    </script>
  </body>
</html>



