---
layout: default
pageClass: job
---
<div class="career">
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4">
    {{ content | section | safe }}
  </div>
  <div class="mb-8">
    {{ content | section('remainder') | safe }}
  </div>
  {% include "components/application-link.njk" %}
  <div class="mt-12 pt-2 text-gray-400 text-sm border-t border-gray-300">
    <p>
      Check out the rest of our open roles on our <a href="/careers">careers page</a>.
    </p>
  </div>
</div>

