<!doctype html>
<html lang="en" class="font-sans">
<!--

     OOOOOOOOO       XXXXXXX          XXXXXXX   IIIIIIII  DDDDDDDDDDDDD         EEEEEEEEEEEEEEEEEEEEEE
   OO:::::::::OO     X:::::X          X:::::X   I::::::I  D::::::::::::DDD      E::::::::::::::::::::E
 OO:::::::::::::OO    X:::::X        X:::::X    I::::::I  D:::::::::::::::DD    E::::::::::::::::::::E
O:::::::OOO:::::::O    X:::::X      X:::::X     II::::II  DDD:::::DDDDD:::::D   EE::::::EEEEEEEEE::::E
O::::::O   O::::::O     XX::::X    X::::XX       I::::I   D:::::D     D:::::D   E:::::E
O:::::O     O:::::O      X:::::X  X:::::X        I::::I   D:::::D      D:::::D  E:::::E
O:::::O     O:::::O       X::::::X:::::X         I::::I   D:::::D      D:::::D  E::::::EEEEEEEEEE
O:::::O     O:::::O        X::::::::::X          I::::I   D:::::D      D:::::D  E:::::::::::::::E
O:::::O     O:::::O         X::::::::X           I::::I   D:::::D      D:::::D  E:::::::::::::::E
O:::::O     O:::::O       X::::::X:::::X         I::::I   D:::::D      D:::::D  E::::::EEEEEEEEEE
O:::::O     O:::::O      X:::::X X:::::X         I::::I   D:::::D      D:::::D  E:::::E
O::::::O   O::::::O     XX::::X    X::::XX       I::::I   D:::::D     D:::::D   E:::::E
O:::::::OOO:::::::O    X:::::X      X:::::X     II::::II  DDD:::::DDDDD:::::D   EE::::::EEEEEEEE:::::E
 OO:::::::::::::OO    X:::::X        X:::::X    I::::::I  D:::::::::::::::DD    E::::::::::::::::::::E
   OO:::::::::OO     X:::::X          X:::::X   I::::::I  D::::::::::::DDD      E::::::::::::::::::::E
     OOOOOOOOO       XXXXXXX          XXXXXXX   IIIIIIII  DDDDDDDDDDDDD         EEEEEEEEEEEEEEEEEEEEEE




     000000000                               1111111     DDDDDDDDDDDDD          EEEEEEEEEEEEEEEEEEEEEE
   00:::::::::00                            1::::::1     D::::::::::::DDD       E::::::::::::::::::::E
 00:::::::::::::00                         1:::::::1     D:::::::::::::::DD     E::::::::::::::::::::E
0:::::::000:::::::0                        111:::::1     DDD:::::DDDDD:::::D    EE::::::EEEEEEEEE::::E
0::::::0   0::::::0  xxxxxxx      xxxxxxx     1::::1     D:::::D      D:::::D   E:::::E
0:::::0     0:::::0   x:::::x    x:::::x      1::::1     D:::::D       D:::::D  E:::::E
0:::::0     0:::::0    x:::::x  x:::::x       1::::1     D:::::D       D:::::D  E::::::EEEEEEEEEE
0:::::0 000 0:::::0     x:::::xx:::::x        1::::l     D:::::D       D:::::D  E:::::::::::::::E
0:::::0 000 0:::::0      x::::::::::x         1::::l     D:::::D       D:::::D  E:::::::::::::::E
0:::::0     0:::::0       x::::::::x          1::::l     D:::::D       D:::::D  E::::::EEEEEEEEEE
0:::::0     0:::::0       x::::::::x          1::::l     D:::::D       D:::::D  E:::::E
0::::::0   0::::::0      x::::::::::x         1::::l     D:::::D      D:::::D   E:::::E
0:::::::000:::::::0     x:::::xx:::::x     111::::::111  DDD:::::DDDDD:::::D    EE::::::EEEEEEEE:::::E
 00:::::::::::::00     x:::::x  x:::::x    1::::::::::1  D:::::::::::::::DD     E::::::::::::::::::::E
   00:::::::::00      x:::::x    x:::::x   1::::::::::1  D::::::::::::DDD       E::::::::::::::::::::E
     000000000       xxxxxxx      xxxxxxx  111111111111  DDDDDDDDDDDDD          EEEEEEEEEEEEEEEEEEEEEE

-->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
    {% include "head-meta.njk" %}
  </head>
  <body class="container mx-auto mb-12 max-w-none lg:max-w-6xl bg-oxide-gray text-white">
    {% include "header.njk" %}
    <div class="content relative max-w-screen-xl mx-auto mb-12 px-6 sm:px-6 fade-in">
      <div class="fourohfour page w-auto">
        {{ content | safe }}
      </div>
    </div>

    {% include "footer.njk" %}

    {% set js %}
      {% include "js/alpine.js" %}
      {% include "js/elevator.js" %}
      {% include "js/main.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.google_analytics}}');
    </script>
  </body>
</html>



