
{# TODO: hook this up and fix for narrow viewports #}
<div class="mt-4">
  <button class="h-16 cursor-pointer bg-oxide-green hover:bg-white border-oxide-green hover:border-oxide-green border-4 text-oxide-gray py-1 px-4 font-bold tracking-wide">
    Discuss on Twitter
  </button>
  <button class="h-16 cursor-pointer bg-oxide-green hover:bg-white border-oxide-green hover:border-oxide-green border-4 text-oxide-gray py-1 px-4 font-bold tracking-wide">
    View discussion
  </button>
</div>
