<div class="CodeMirror cm-s-solarized cm-s-dark shadow-2xl">
  <div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 5px; left: 73.0312px;">
    <textarea spellcheck="false" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;" tabindex="0"></textarea>
  </div>
  <div class="CodeMirror-vscrollbar" tabindex="-1">
    <div style="min-width: 1px; height: 0px;"></div>
  </div>
  <div class="CodeMirror-hscrollbar" tabindex="-1">
    <div style="height: 100%; min-height: 1px; width: 0px;"></div>
  </div>
  <div class="CodeMirror-scrollbar-filler"></div>
  <div class="CodeMirror-gutter-filler"></div>
  <div class="CodeMirror-scroll" tabindex="-1">
    <div class="CodeMirror-sizer" style="margin-left: 29px; margin-bottom: -15px; border-right-width: 15px; min-height: 84px; min-width: 358.141px; padding-right: 0px; padding-bottom: 0px;">
      <div style="position: relative; top: 0px;">
        <div class="CodeMirror-lines" role="presentation">
          <div role="presentation" style="position: relative; outline: none;">
            <div class="CodeMirror-measure"></div>
            <div class="CodeMirror-measure"></div>
            <div style="position: relative; z-index: 1;"></div>
            <div class="CodeMirror-cursors" style="">
              <div class="CodeMirror-cursor" style="left: 43.0312px; top: 0px; height: 19px;">
                &nbsp;
              </div>
            </div>
            <div class="CodeMirror-code" role="presentation" style="">
              <div class="CodeMirror-activeline" style="position: relative;">
                <div class="CodeMirror-activeline-background CodeMirror-linebackground"></div>
                <div class="CodeMirror-gutter-background CodeMirror-activeline-gutter" style="left: -29px; width: 29px;"></div>
                <div class="CodeMirror-gutter-wrapper CodeMirror-activeline-gutter" style="left: -29px;">
                  <div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 21px;">
                    1
                  </div>
                </div>
                <pre class="CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-variable">fn</span> <span class="cm-variable">main</span>() {</span></pre>
              </div>
              <div style="position: relative;">
                <div class="CodeMirror-gutter-wrapper" style="left: -29px;">
                  <div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 21px;">
                    2
                  </div>
                </div>
                <pre class=" CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-comment">// Setup the console.</span></span></pre>
              </div>
              <div class="" style="position: relative;">
                <div class="CodeMirror-gutter-wrapper" style="left: -29px;">
                  <div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 21px;">
                    3
                  </div>
                </div>
                <pre class=" CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-keyword">let</span> <span class="cm-def">console</span> <span class="cm-operator">=</span> <span class="cm-variable">utils</span>::<span class="cm-variable-2">console</span>::<span class="cm-variable">Console</span>::<span class="cm-keyword">new</span>();</span></pre>
              </div>
              <div class="" style="position: relative;">
                <div class="CodeMirror-gutter-wrapper" style="left: -29px;">
                  <div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 21px;">
                    4
                  </div>
                </div>
                <pre class=" CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-variable-2">console</span>.<span class="cm-property">print</span>(<span class="cm-string">"system initialized"</span>);</span></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position: absolute; height: 15px; width: 1px; border-bottom: 0px solid transparent; top: 84px;"></div>
    <div class="CodeMirror-gutters" style="height: 99px; left: 0px;">
      <div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 29px;"></div>
    </div>
  </div>
</div>
