<a href="{{ item.url }}" type="button" class="inline-flex mt-4">
  <span class="leading-normal">Join us!</span>
  {# <svg class="h-6 w-6 mr-2 fill-current" viewBox="0 0 24 24">
    <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/>
    <path d="M0 0h24v24H0V0z" fill="none"/>
  </svg> #}
</a>
