<div class="animated__container newsletter w-full show-on-scroll">
  <div class="animated__target my-16 py-12 lg:py-4 w-full" style="animation-delay: 1s;">
    <div class="max-w-screen-xl mx-auto flex flex-col">
      <h2 class="heading">
        Sign up for our newsletter
      </h2>
      <p class="max-w-3xl leading-6 text-gray-300">
        Get the latest news from Oxide.
      </p>
      <div class="my-8">
        {% include 'components/mailchimp-signup.njk' %}
      </div>
    </div>
  </div>
</div>
