
    <li class="my-24 pb-32 border-b border-gray-500">
      {% include "components/post-metadata.njk" %}
      <h2 class="heading"><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
      <div>
      {{ item.templateContent | section | safe }}
      </div>
    </li>
