{{ partial "header.html" . }}

<div class="container">
    <article class="post">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{{.Title}}</h1>
            {{with .Params.episode}}<h3>Episode {{.}}</h3>{{end}}
            <p class="lead">{{ .Date.Format "Monday, January 2, 2006" }}</p>

            {{ partial "authors.html" . }}
        </div>

        {{if .Params.podcast_file}}
        <div class="podcast-file">
            <audio src="{{ .Params.podcast_file }}" preload="auto" />
        </div>

        {{ partial "podcast-share.html" . }}
        {{end}}

        {{ .Content }}

        {{ partial "badge-list.html" . }}

        {{ partial "social-share.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}
