{{ partial "header.html" . }}

<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Blog</h1>
        <p class="lead">
            {{ ( index $.Site.Data.team .Name).name }}'s Posts
        </p>
    </div>

    {{ range .Data.Pages.ByDate.Reverse }}
    <article class="summary">
        <h2>
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                {{.Title}}
            </a>
            <small class="text-muted">{{ .Date.Format "2006/01/02" }}</small>
        </h2>
        {{ .Summary }}
    </article>
    {{ end }}
</div>

{{ partial "footer.html" . }}
