{{ partial "header.html" . }}

<div class="container">
    <div class="heading px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{.Name}}</h1>
        <p class="lead">
        Taxonomy: {{.Type|humanize}}
        </p>
    </div>

    <article class="terms">
        <div class="list-group">
            {{ range .Data.Pages.ByTitle }}
            <a class="list-group-item list-group-item-action"  href="{{ .Permalink }}" title="{{ .Title }}">
                {{.Title}}
            </a>
            {{ end }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}
