{{ partial "header.html" . }}

<div class="container">
	{{ partial "breadcrumb.html" . }}

	<div class="heading px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">{{if ne (.Type|lower) "departments"}}Blog{{else}}Careers{{end}}</h1>
		<p class="lead">
		{{.Type|humanize}}
		</p>
	</div>

	<article class="terms">
		<div class="list-group">
			{{ range .Data.Pages.ByTitle }}
			<a class="list-group-item list-group-item-action"  href="{{ .Permalink }}" title="{{replace (.Title|title) "-" " "}}">
				{{replace (.Title|title) "-" " "}}
			</a>
			{{ end }}
		</div>
	</article>
</div>

{{ partial "footer.html" . }}
