{{ partial "header.html" . }}

<div class="container">
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">{{.Title}}</h1>
		{{if .Params.subtitle}}<p class="lead">{{.Params.subtitle}}</p>{{end}}
	</div>

	{{if eq .Section "careers"}}
	{{ partial "careers-header.html" . }}
	{{end}}

	{{ .Content }}

	{{ partial "badge-list.html" . }}

	{{ if .Params.application_link }}
	<section class="text-center application-link">
		<a class="btn btn-outline-primary btn-lg" href="{{.Params.application_link}}" target="_blank">Apply now!</a>
	</section>
	{{ end }}
</div>

{{ partial "footer.html" . }}
