<section class="badge-list">
	{{ $taxo := "categories" }}
	{{ if .Param $taxo }}
	{{ range .Param $taxo }}
	{{ $name := . }}
	{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
	<a href="{{.Permalink}}" class="badge badge-dark" title="{{$name|title}}">{{$name|title}}</a>
	{{end}}
	{{end}}
	{{end}}

	{{ $taxo := "tags" }}
	{{ if .Param $taxo }}
	{{ range .Param $taxo }}
	{{ $name := . }}
	{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
	<a href="{{.Permalink}}" class="badge badge-secondary" title="{{$name|title}}">{{$name|title}}</a>
	{{end}}
	{{end}}
	{{end}}

	{{ $taxo := "departments" }}
	{{ if .Param $taxo }}
	{{ range .Param $taxo }}
	{{ $name := . }}
	{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
	<a href="{{.Permalink}}" class="badge badge-dark" title="{{$name|title}}">{{$name|title}}</a>
	{{end}}
	{{end}}
	{{end}}
</section>
