<section class="badge-list">
    {{ $taxo := "categories" }}
    {{ range .Param $taxo }}
    {{ $name := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
    <a href="{{.Permalink}}" class="badge badge-dark" title="{{$name|humanize}}">{{$name|humanize}}</a>
    {{end}}
    {{end}}

    {{ $taxo := "tags" }}
    {{ range .Param $taxo }}
    {{ $name := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
    <a href="{{.Permalink}}" class="badge badge-secondary" title="{{$name|humanize}}">{{$name|humanize}}</a>
    {{end}}
    {{end}}
</section>
