<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/{{if ne (.Type|lower) "departments"}}blog{{else}}careers{{end}}/">{{if ne (.Type|lower) "departments"}}Blog{{else}}Careers{{end}}</a>
        </li>
        <li class="breadcrumb-item {{if eq (.Title|lower) (.Type|lower) }}active{{end}}">
            {{if ne (.Title|lower) (.Type|lower) }}<a href="/{{.Type|lower}}/">{{end}}{{.Type|humanize}}{{if ne (.Title|lower) (.Type|lower) }}</a>{{end}}
        </li>
        {{if ne (.Title|lower) (.Type|lower) }}
        <li class="breadcrumb-item active" aria-current="page">
            {{.Title|humanize}}
        </li>
        {{end}}
    </ol>
</nav>
