<h3>About Oxide</h3>

<p>At Oxide, we are taking a big swing: rethinking the definition of the server-side computer, combining the wisdom of
  hyperscaler systems with the energy of the open data center — and delivering it as a broadly consumable product. Our
  most deeply held engineering belief is in the integration of hardware and software: we believe that the best and most
  reliable infrastructure comes when hardware and software are designed to work with one another.</p>

<p>Hyperscalers like Google, Facebook, Twitter, Amazon, and Microsoft have what we like to call “infrastructure
  privilege”. They build their own hardware and software to fulfill their needs and do it better than commodity vendors
  ever could. At Oxide, we are working to bring that same infrastructure privilege to everyone else.</p>

<hr />
