<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row text-right">
            <div class="col-6 col-md">
            </div>
            <div class="col-6 col-md">
                <h5>Connect</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://twitter.com/{{ .Site.Params.twitter_handle }}" target="_blank">Twitter</a></li>
                    <li><a class="text-muted" href="https://github.com/{{ .Site.Params.github_handle }}" target="_blank">GitHub</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/blog/">Blog</a></li>
                    <li><a class="text-muted mailing-list-trigger" href="https://cdn.forms-content.sg-form.com/79446fce-d9cd-11e9-b4a7-2ada7dd4c762" target="_blank">Mailing List</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/team/">Team</a></li>
                    <li><a class="text-muted" href="/careers/">Careers</a></li>
                    <li><a class="text-muted" href="/principles/">Principles</a></li>
                </ul>
            </div>
        </div>
        <small id="copyright" class="text-muted">&copy; Oxide Computer Company {{ now.Format "2006" }}</small>
</div>
    </footer>
    </div>

    <script src="/js/site.min.js"></script>

    <script>
        function doPrettyPrint(){
            pres=document.getElementsByTagName('pre');
            for (i=0; i < pres.length; i++) {
                pres[i].className+=" prettyprint";
            }
            prettyPrint();
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.google_analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '{{.Site.Params.google_analytics}}');
    </script>

    </body>
    </html>
