<!-- twitter card meta tags -->
<meta property="twitter:creator:id" content="{{ .Site.Params.twitter_id }}" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ .Site.Params.twitter_handle }}">
<meta name="twitter:creator" content="@{{ .Site.Params.twitter_handle }}">
<meta name="twitter:title" content="{{ .Site.Title }}: {{ if ne .Title .Site.Title }}{{ .Title }}{{ else }}Home{{ end }}">
<meta name="twitter:description" content="{{ if ne .Title .Site.Title }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{.Site.BaseURL}}/img/logo.jpg">
<meta name="twitter:domain" content="{{.Site.Title}}">

<!-- facebook open graph tags -->
<meta property="og:title" content="{{ .Site.Title }}: {{ if ne .Title .Site.Title }}{{ .Title }}{{ else }}Home{{ end }}"/>
<meta property="og:Section" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="fb:admins" content="{{ .Site.Params.facebook_id }}"/>
<meta property="og:description" content="{{ if ne .Title .Site.Title }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
<meta name="og:image" content="{{.Site.BaseURL}}/img/logo.jpg">
