<div id="mailing-list-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mailing List Signup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email-input">Email address</label>
                        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="root@pdp-1.computer" required>

                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>

                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Join!</button>
                </div>
            </form>
        </div>
    </div>
</div>
