<div id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 id="logo" class="my-0 mr-md-auto"><a href="/"><img src="/img/logo.png" alt="Oxide Computer Company" /></a></h5>
    <nav class="my-2 my-md-0 mr-md-3 nav-links">
        <a class="p-3" href="/careers/">Careers</a>
        <a class="p-3" href="/blog/categories/on-the-metal/">On the Metal</a>
        <a class="p-3" href="/blog/">Blog</a>
    </nav>
	<a class="btn btn-primary mailing-list-trigger" href="{{ .Site.Params.signup_form_url }}" target="_blank">Join our Mailing List</a>
</div>
