<div class="podcast-share">
    <a class="btn" href="{{.Site.Params.itunes_url}}" target="_blank"><i class="fab fa-itunes-note"></i>&nbsp;iTunes</a>

    <a class="btn" href="{{.Site.Params.android_url}}" target="_blank"><i class="fab fa-android"></i>&nbsp;Android</a>

    <a class="btn" href="{{.Site.Params.google_play_url}}" target="_blank"><i class="fab fa-google-play"></i>&nbsp;Google Play Music</a>

    <a class="btn" href="{{.Site.Params.stitcher_url}}" target="_blank"><i class="fa fa-podcast"></i>&nbsp;Stitcher</a>

    <a class="btn" href="{{.Site.Params.pocketcasts_url}}" target="_blank"><i class="fa fa-podcast"></i>&nbsp;PocketCasts</a>

    <a class="btn" href="http://192.168.7.27:1313/blog/categories/on-the-metal/index.xml" target="_blank"><i class="fa fa-rss"></i>&nbsp;RSS</a>
</div>
