<div class="podcast-share">
    <a class="btn" href="http://itunes.apple.com/us/podcast/arrested-devops/id773888088?mt=2&amp;uo=4&amp;at=11lsCi" target="_blank"><i class="fab fa-itunes-note"></i>&nbsp;iTunes</a>

    <a class="btn" href="http://subscribeonandroid.com/www.arresteddevops.com/episode/index.xml" target="_blank"><i class="fab fa-android"></i>&nbsp;Android</a>

    <a class="btn" href="https://play.google.com/music/m/Ihj4yege3lfmp3vs5yoopgxijpi?t%3DArrested_DevOps" target="_blank"><i class="fab fa-google-play"></i>&nbsp;Google Play Music</a>

    <a class="btn" href="http://www.stitcher.com/podcast/arrested-devops-2/arrested-devops" target="_blank"><i class="fa fa-podcast"></i>&nbsp;Stitcher</a>

    <a class="btn" href="http://pcasts.in/feed/feeds.soundcloud.com/users/soundcloud:users:203144248/sounds.rss" target="_blank"><i class="fa fa-podcast"></i>&nbsp;PocketCasts</a>

    <a class="btn" href="http://192.168.7.27:1313/blog/categories/on-the-metal/index.xml" target="_blank"><i class="fa fa-rss"></i>&nbsp;RSS</a>
</div>
