<div class="podcast-share">
    <a class="btn" href="{{.Site.Params.itunes_url}}" target="_blank"><i class="fab fa-itunes-note"></i>&nbsp;iTunes</a>

    <a class="btn" href="{{.Site.Params.android_url}}" target="_blank"><i class="fab fa-android"></i>&nbsp;Android</a>

    <a class="btn" href="{{.Site.Params.google_play_url}}" target="_blank"><i class="fab fa-google-play"></i>&nbsp;Google Play Music</a>

    <a class="btn" href="{{.Site.Params.stitcher_url}}" target="_blank"><i class="fa fa-podcast"></i>&nbsp;Stitcher</a>

    <a class="btn" href="{{.Site.Params.pocketcasts_url}}" target="_blank"><i class="fa fa-podcast"></i>&nbsp;PocketCasts</a>

    <a class="btn" href="{{.Site.Params.spotify_url}}" target="_blank"><i class="fab fa-spotify"></i>&nbsp;Spotify</a>

	<a class="btn" href="{{.Site.Params.podcast_rss_feed}}" target="_blank"><i class="fa fa-rss"></i>&nbsp;RSS</a>
</div>
