<section class="social-share">
    <h5>
        Share this:

        <div class="btn-group" role="group">
            <a type="button" class="btn btn-dark" href="https://twitter.com/intent/tweet?source={{ .Site.Title }}&text={{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.twitter_handle }}" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>

            <a type="button" class="btn btn-dark" href="https://www.facebook.com/share.php?u={{ .Permalink | urlize }}" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>

            <a type="button" class="btn btn-dark" href="https://www.linkedin.com/shareArticle?url={{ .Permalink | urlize }}&title={{ .Title | urlize }}&summary={{ .Description | urlize }}" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </h5>
</section>
