{{ partial "header.html" . }}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4 text-normal">Building the open data center.</h1>
    </div>
</div>

<!-- begin headings container -->
<div class="container">
    <div class="callouts row">
        <div class="col-md-6">
            <h2>Bringing hyperscale agility and velocity to enterprise</h2>
            <p>The hyperscalers have internally been building their own custom hardware for the benefits of scale, economics, power efficiency, reliability, and security. We are building a product for enterprises to do the same.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Rack-scale machines</h2>
            <p>Our product will be a whole rack -- no more, no less. This will expose an API for managing compute and a Dashboard for tracking inventory, capacity, licenses, etc.</p>
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
            <h2>Ensure the integrity of your infrastructure</h2>
            <p>Vulnerabilities in the lower layers of the stack are a threat to anyone operating a data center. We are building a root of trust to ensure the integrity of the hardware and software components are in tact before any workload is deployed.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Lower your power consumption costs</h2>
            <p>The result from Facebook switching to their Open Compute Project hardware was 38% percent less energy to do the same work as their existing facilities. It was a cost savings of 24%.</p>
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
            <h2>We're hiring!</h2>
            <p>Want to help build this with us? Come join our enthusiastic and highly motivated team in Oakland, California!</p>
            <p><a class="btn btn-outline-primary" href="/careers/" role="button">View Careers</a></p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div> <!-- end headings container -->


{{ partial "footer.html" . }}
