{{ partial "header.html" . }}

<section class="hero">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-normal">Hyperscaler infrastructure<br />for the rest of us</h1>
            <p class="lead">Oxide is building a new kind of server.</p>
            <p class="lead">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency,
                cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.
            </p>
            <p><a class="btn btn-primary btn-lg" href="{{ .Site.Params.signup_form_url }}" role="button"
                    target="_blank">Join our Mailing List</a></p>
        </div>
    </div>
</section>

<!-- begin headings container -->
<div class="container">
    <div class="hiring-callout">
        <h2 class="display-4">We're hiring!</h2>
        <p class="lead">Want to help build the open data center with us?<br />Come join our enthusiastic and highly
            motivated team in Emeryville, California!</p>
        <p><a class="btn btn-outline-primary btn-lg" href="/careers/" role="button">View Careers</a></p>
    </div>
</div>
<!-- end headings container -->

{{ partial "footer.html" . }}
