{{ partial "header.html" . }}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4 text-normal">Hyperscaler infrastructure<br/>for the rest of us</h1>
        <p class="lead">Today's commodity servers are expensive, wasteful, insecure, and unreliable. Oxide is designing a rack product from the ground up to solve all of these issues.</p>

        <p class="lead">It's our goal to deliver the same density, economics, power efficiency, reliability, and security previously available only to hyperscaler* organizations to everyone.</p>
		<p><a class="btn btn-light btn-lg" href="{{ .Site.Params.signup_form_url }}" role="button" target="_blank">Join our Mailing List</a></p>
        <p class="footnote"><small>*What’s a hyperscaler? Any business with a large scale infrastructure footprint is known as a hyperscaler.<br/>Examples include Facebook, Google, and Amazon.</small></p>
    </div>
</div>

<!-- begin headings container -->
<div class="container">
    <div class="callouts row">
        <div class="col-md-6">
            <h2>Rack-scale machines</h2>
            <p>Our product will be packaged as a whole rack. Use the exposed API for managing compute, and our provided dashboards for tracking inventory, capacity, lifecycle, and more.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Scale quickly and efficiently</h2>
            <p>Go from plugging-in an Oxide rack to deploying virtual machines in minutes. We include all the software needed to run compute, giving you time back that is better spent elsewhere.</p>
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
            <h2>Secure and trustworthy</h2>
            <p>Your data center is only as secure as the hardware it's built on top of. We're building a root of trust to ensure the integrity of the hardware and software components -- before any workloads are deployed.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Cheaper and more efficient</h2>
            <p>Facebook reported 38% less energy usage and a cost savings of 24% when they switched to their Open Compute Project hardware.</p>
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
            <h2>Simple, intuitive interfaces</h2>
            <p>Our API will be integrated into all the dev-tools you love. We are developers and operators who deeply care about delivering an experience that will be awesome.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="callouts row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>We're hiring!</h2>
            <p>Want to help build the open data center with us? Come join our enthusiastic and highly motivated team in Oakland, California!</p>
            <p><a class="btn btn-outline-primary" href="/careers/" role="button">View Careers</a></p>
        </div>
    </div>
</div> <!-- end headings container -->


{{ partial "footer.html" . }}
