{{ partial "header.html" . }}

<div class="container">
    <div class="heading px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Team</h1>
        <p class="lead">
        Meet the team behind the newest computer company.
        </p>
    </div>

    <article class="team">
        <div class="row">
        {{ range sort $.Site.Data.team "weight" "asc" }}
        <!-- team member -->
        <div class="member col-6 col-md-6">
            <h2>
                {{ .name }}
                <small class="text-muted">{{.title}}</small>
            </h2>

            <!-- social media links -->
            <div class="icons">
                <a class="icon" title="Oxide Blog Posts" href="/authors/{{.name | urlize}}/">
                    <i class="fas fa-file-alt"></i>
                </a>
                {{with .twitter}}<a class="icon" title="Twitter" href="https://twitter.com/{{ . }}" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>{{end}}
                {{with .github}}<a class="icon" title="GitHub" href="https://github.com/{{ . }}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>{{end}}
                {{with .linkedin}}<a class="icon" title="LinkedIn" href="https://www.linkedin.com/in/{{ . }}" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>{{end}}
                {{with .blog}}<a class="icon" title="Personal Blog" href="{{ . }}" target="_blank">
                    <i class="fas fa-home"></i>
                </a>{{end}}
            </div>
            <!-- end social media links -->

            {{with .bio}}<p>{{.}}</p>{{end}}
        </div>
        <!-- end team member -->
        {{ end }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}
