---
title: Blog
heading: Blog
subheading: Thoughts, ramblings, insights and everything in between from the Oxide Computer Company team.
layout: default
templateEngineOverride: njk, md
---

<div>
  <ul>
    {%- for item in collections.post | reverse -%}
      {% include 'components/teaser-post.njk' %}
    {%- endfor -%}
  </ul>
</div>
