---
title: Home -  Hyperscaler infrastructure for the rest of us
layout: default
---
<div id="hero" class="w-auto lg:w-3/5 pb-20 md:pb-32">
  <h1 class="heading"><span>Hyperscaler infrastructure</span> <span>for the rest of us</span></h1>
  <p class="font-bold">We are building a new kind of server.</p>
  <p class="font-bold">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
</div>

{# alt hero #}
{# <div id="hero" class="w-auto lg:w-3/5 pb-20 md:pb-32">
  <div class="bg-transparent sm:bg-gray-800 overflow-hidden shadow">
    <div class="px-4 py-5 sm:p-6">
      <h1 class="heading"><span>Hyperscaler infrastructure</span> <span>for the rest of us</span></h1>
      <p class="font-bold">We are building a new kind of server.</p>
      <p class="font-bold">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
    </div>
  </div>
</div> #}

{# <div class="my-8 py-8 show-on-scroll">
  <div class="w-auto lg:w-3/4">
    <h2 class="pb-2 text-md md:text-xl font-bold tracking-wide tracking-wide">Join our mailing list to stay in touch</h2>
    <div class="max-w-sm">
      {% include 'components/mailchimp-signup.njk' %}
    </div>
  </div>
</div> #}
