---
layout: default
title: Hyperscaler infrastructure for the rest of us
pageClass: home
---
<div id="hero" class="mx-auto max-w-screen-xl pb-20 md:pb-32">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="lg:col-span-8 lg:border-r lg:border-gray-700">
      <h1 class="heading"><span>Hyperscaler infrastructure</span> <span>for the rest of us</span></h1>
      <p class="font-semibold">We are building a new kind of server.</p>
      <p class="font-semibold">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
    </div>
    <div class="sm:max-w-lg lg:col-span-4">
      <div class="ml-4">
        <div class="-m-3">
          <div class="sm:hidden">
            <select class="form-select block w-full">
              <option selected>Recent</option>
              <option>View all</option>
            </select>
          </div>
          <div class="hidden sm:block">
            <nav class="flex">
              <span class="px-3 py-2 font-medium text-sm leading-5 text-gray-300 focus:outline-none focus:bg-gray-200">
                Recent posts
              </span>
              <a href="/blog/" class="ml-4 px-3 py-2 font-medium text-sm leading-5 hover:text-gray-300 focus:outline-none focus:text-gray-300">
                View all
              </a>
            </nav>
          </div>
        </div>
        <ul class="font-semibold">
          <li class="my-4 pb-4 border-b border-gray-600">
            <a href="#">March 2020 Update</a>
          </li>
          <li class="my-4 pb-4 border-b border-gray-600">
            <a href="#">RIP Khaled Bichara, 1971-2020</a>
          </li>
          <li class="my-4 pb-4 border-b border-gray-600">
            <a href="#">On the Metal: Season 1 Wrap Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{# alt hero #}
{# <div id="hero" class="w-auto lg:w-3/5 pb-20 md:pb-32">
  <div class="bg-transparent sm:bg-gray-800 overflow-hidden shadow">
    <div class="px-4 py-5 sm:p-6">
      <h1 class="heading"><span>Hyperscaler infrastructure</span> <span>for the rest of us</span></h1>
      <p class="font-bold">We are building a new kind of server.</p>
      <p class="font-bold">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
    </div>
  </div>
</div> #}

{# <div class="my-8 py-8 show-on-scroll">
  <div class="w-auto lg:w-3/4">
    <h2 class="pb-2 text-md md:text-xl font-bold tracking-wide tracking-wide">Join our mailing list to stay in touch</h2>
    <div class="max-w-sm">
      {% include 'components/mailchimp-signup.njk' %}
    </div>
  </div>
</div> #}
