---
layout: default
title: Hyperscaler infrastructure for the rest of us
pageClass: home
---
<div id="hero" class="mx-auto max-w-screen-xl pb-0 md:pb-12 lg:pb-32">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="lg:col-span-8 lg:border-r lg:border-gray-700 pr-0 md:pr-8">
      <span class="animated__container">
        <h1 class="heading animated__target" style="animation-delay: 0.5s;"><span class="block">Hyperscaler infrastructure</span> <span class="block">for the rest of us</span></h1>
      </span>
      <span class="animated__container">
        <p class="animated__target" style="animation-delay: 0.7s;">We are building a new kind of server.</p>
      </span>
      <span class="animated__container">
        <p class="animated__target" style="animation-delay: 0.8s;">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
      </span>
    </div>
    <div class="animated__container sm:max-w-lg mt-32 sm:mt-72 lg:mt-8 lg:col-span-4">
      <div class="animated__target ml-0 lg:ml-4" style="animation-delay: 0.5s;">
        <div class="-m-3">
          <div class="sm:hidden">
            <nav class="flex font-mono">
              <a href="/blog/" class="ml-4 py-2 font-medium text-sm leading-5 hover:text-gray-300 focus:outline-none focus:text-gray-300">
                View all
              </a>
            </nav>
          </div>
          <div class="hidden sm:block">
            <nav class="flex font-mono">
              <span class="px-3 py-2 font-medium text-sm leading-5 text-gray-300 focus:outline-none focus:bg-gray-200">
                Recent posts
              </span>
              <a href="/blog/" class="ml-4 px-3 py-2 font-medium text-sm leading-5 hover:text-gray-300 focus:outline-none focus:text-gray-300">
                View all
              </a>
            </nav>
          </div>
        </div>
        <ul class="font-semibold">
          {%- for i in collections.post | reverse -%}
            {% include 'components/teaser-post-title.njk' %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>

{# alt hero #}
{# <div id="hero" class="w-auto lg:w-3/5 pb-20 md:pb-32">
  <div class="bg-transparent sm:bg-gray-800 overflow-hidden shadow">
    <div class="px-4 py-5 sm:p-6">
      <h1 class="heading"><span>Hyperscaler infrastructure</span> <span>for the rest of us</span></h1>
      <p class="font-bold">We are building a new kind of server.</p>
      <p class="font-bold">True rack-scale design, bringing cloud hyperscale innovations around density, efficiency, cost, reliability, manageability, and security to everyone running on-premises compute infrastructure.</p>
    </div>
  </div>
</div> #}

{# <div class="my-8 py-8 show-on-scroll">
  <div class="w-auto lg:w-3/4">
    <h2 class="pb-2 text-md md:text-xl font-bold tracking-wide tracking-wide">Join our mailing list to stay in touch</h2>
    <div class="max-w-sm">
      {% include 'components/mailchimp-signup.njk' %}
    </div>
  </div>
</div> #}
