---
title: Podcast
heading: On The Metal
subheading: Tales from the Hardware/Software Interface, a podcast.
layout: default
pageClass: page podcast
---
{# This is the podcasts page #}
<span class="leading-tight text-xl">Subscribe</span>
{% include 'components/podcast-share.njk' %}
<ul>
    {%- for item in collections.podcast -%}
    {% include 'components/teaser-podcast.njk' %}
    {%- endfor -%}
</ul>
